@import "./markdown.scss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

/* Custom Scrollbar with Gradient Opaque Light Green */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(144, 238, 144, 0.8), rgba(0, 255, 0, 0.8));
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(144, 238, 144, 0.8) rgba(255, 255, 255, 0.1);
}